$theme-colors: (
  "primary": #142b42,
  "warning": #8E793E
);

@import "../node_modules/bootstrap/scss/bootstrap";

.scroll-box {
  max-height: 200px;
  overflow-x: auto;
  border:1px solid rgba(0, 0, 0, 0.125);
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
}

.navbar-dark .navbar-brand {
  color: $warning;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: $warning;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}

.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: $warning;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

span.icon-wrapper:hover {
  cursor:pointer;
 }

table.portfolio-table td, table.portfolio-table th {
  text-align: center;
  vertical-align: middle;
}

table.portfolio-table td pre {
  font: inherit;
}

table.portfolio-table td div {
  height: 20px;
}

tr.portfolio-holding-row td.holding-detail {
  // min-width: 50px;
  // width: 50px;
  position: relative;
}

tr.portfolio-holding-row td.holding-detail div {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

tr.portfolio-holding-row td.holding-detail div.security-name {
  width: 275px;
  white-space: nowrap;
  line-height: 1;
  top: 10px;
  text-align: left;
  text-overflow: ellipsis;
  overflow-x: hidden;
  left: 20px;
  right: initial;
  font-style: italic;
  font-weight: 600;
}